.typing-container {
    font-size: 72px;
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}

.typing-explain {
    font-size: 36px;
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}