:host,
.typing-page {
  // Ensures that the footer is pushed to the bottom if the page is too short.
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.typing-page-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 60px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.control-full-width {
    width: 100%;
}

.typing-container {
    font-size: 72px;
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}

.typing-explain {
    font-size: 36px;
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.demo-table {
    width: 100%;
    margin: 24px;
}

result-content {
    width: 100%;
    margin: 24px;
}
