<mat-toolbar-row>
  <span>
    <h5>Let's Typing</h5>
  </span>
  <span class="toolbar-spacer"></span>
  <mat-form-field>
    <mat-label>Files</mat-label>
    <mat-select [(value)]="selectedFile" (selectionChange)="onFileSelectionChanged($event)">
      <mat-option value="">None</mat-option>
      @for (file of allFiles; track file.name ) {
        <mat-option [value]="file">{{file.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Count</mat-label>
    <input matInput type="text" [(ngModel)]="countOfItems">
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Collection</mat-label>
    <mat-select [(value)]="selectedCollection" (selectionChange)="onCollectionSelectionChanged($event)">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let coll of allCollections" [value]="coll">{{coll}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>File</mat-label>
    <mat-select [(value)]="selectedFile" (selectionChange)="onFileSelectionChanged($event)">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let file of allFiles" [value]="file">{{file.fileName}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <section>
    <button mat-icon-button color="accent" (click)="onRestart()" [disabled]="!selectedFile || countOfItems <= 0">
      <mat-icon>slideshow</mat-icon>
    </button>
    <!-- <button mat-icon-button color="primary" [disabled]="!isExpertMode" routerLink="create" matTooltip="{{'Common.Create' | transloco}}">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onGoToSearch()" [disabled]="!isExpertMode || dataSource.length <= 0" matTooltip="{{'Common.Search' | transloco}}">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onGoToPreview()" [disabled]="!isExpertMode || dataSource.length <= 0" matTooltip="{{'Common.Preview' | transloco}}">
        <mat-icon>slideshow</mat-icon>
      </button>
      <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onRefreshList()" matTooltip="{{'Common.Refresh' | transloco}}">
        <mat-icon>refresh</mat-icon>
      </button> -->
  </section>
</mat-toolbar-row>
@if (isQueueCompleted) {
  <div class="typing-container">
    DONE!
  </div>
}
@else {
  <div>
    <audio autoplay [src]="sourceAudioFile">
    </audio>
    <div class="typing-explain">
      {{wordExplain}}
    </div>
    <div class="typing-container">
      @for (echar of chararray; track echar.idx ) {
        <span>{{echar.visible ? echar.letter : '_'}}</span>
      }
    </div>
  </div>
}
