<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      @if (mobileQuery.matches) {
        <h1 class="example-app-name" [routerLink]="['/']">EngDict</h1>
      } 
      @else {
        <mat-icon>home</mat-icon>
        <h1 class="khb-app-title" [routerLink]="['/']">English Dictation</h1>
      }
      <span class="toolbar-spacer"></span>
      <!-- <button mat-icon-button matTooltip="Language" [matMenuTriggerFor]="matMenuLanguage">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #matMenuLanguage="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
        <button mat-menu-item *ngFor="let lang of availableLanguages" (click)="switchLanguage(lang.value)">
          <mat-icon *ngIf="selectedLanguage === lang.value">check</mat-icon>
          lang.displayas
        </button>
      </mat-menu> -->

      <button mat-icon-button [routerLink]="['/typing']" matTooltip="Typing">
        <mat-icon>assessment</mat-icon>
      </button>      
      
      <!-- <button mat-icon-button (click)="onLogon()" matTooltip="Logon">
        <mat-icon>account_box</mat-icon>
      </button> -->
      <!-- <button mat-icon-button *ngIf="currentUser" [matMenuTriggerFor]="matMenuUser" [matTooltip]="currentUser">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #matMenuUser="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
        <button mat-menu-item (click)="onUserInfo()">Current User</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu> -->
  
      <button mat-icon-button (click)="openCodeRepo()">
        <mat-icon aria-hidden="false" aria-label="Code Repo">code</mat-icon>
      </button>
    </mat-toolbar>
  
    <router-outlet></router-outlet>
</div>
