<main focusOnNavigation aria-label="Formatter Recites page" class="formatter-page">
  <div class="formatter-page-content">
    <mat-toolbar class="control-full-width">
      <mat-toolbar-row>
        <span>
          <h5>Forumla</h5>
        </span>
        <span class="toolbar-spacer"></span>
        <mat-form-field>
          <mat-label>Files</mat-label>
          <mat-select matNativeControl [(value)]="selectedFile" (selectionChange)="onFileSelectionChanged($event)">
            <mat-option value="">None</mat-option>
            @for (file of allFiles; track file.name ) {
            <mat-option [value]="file">{{file.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Count</mat-label>
          <input matInput type="number" [(ngModel)]="countOfItems">
          <span matSuffix>{{reciteContentCount}}</span>
        </mat-form-field>
        <section>
          <div class="example-button-container">
            <button mat-fab extended (click)="onPrint()">
              <mat-icon>print</mat-icon>
              Print
            </button>
          </div>
        </section>
        <section>
          <div class="example-button-container">
            <button mat-fab extended (click)="onPreview()" [disabled]="!selectedFile || countOfItems <= 0">
              <mat-icon>slideshow</mat-icon>
              Preview
            </button>
          </div>
        </section>
      </mat-toolbar-row>
    </mat-toolbar>

    @if (isPreviewInProgress) {
      <div class="container">
        <table mat-table [dataSource]="dataSourcePreview" class="mat-elevation-z8 w-full">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Math Column -->
          <ng-container matColumnDef="math">
            <th mat-header-cell *matHeaderCellDef> Math </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.math" [disabled]="true"></mat-checkbox> 
            </td>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element">
              @if(element.math) {
                <mathitem [valuestr]="element.value"></mathitem>
              } 
              @else {
                <div [innerHTML]="element.value"></div>
              }
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    }
  </div>
</main>

<app-footer></app-footer>